.name {
  font-weight: 700;
  font-size: 1.73rem;
}
.editor-container {
  font-weight: 400;
}
.id-card {
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/verticalCardbg.png);
  /* Vertical ID card settings */
  aspect-ratio: 0.631;
  height: 17.446cm;
  background-size: cover;
}

.avatar-box {
  background-color: white;
  padding: 0.2rem;
  border-radius: 100px;
}
.avatar {
  height: 13rem;
  border-radius: 100px;
}
.barcode {
  height: 3rem;
}
.job-box {
  padding: 0.8rem 2.6rem;
  background: #297dc0;
  color: white;
  border-radius: 25px;
}
.card-contents-container {
  gap: 1rem;
}
